@media screen and (max-width: 960px) {
    .pond-item {
        grid-template-columns: 30% 30% 40% !important; 
    }
    .pond-item .pond-item-buy-btn {
        width: 100%;
    }
}
@media screen and (max-width: 650px) {
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 18px;
    }
    h3 {
        font-size: 14px;
    }
    h4 {
        font-size: 12px;
    }
    .pond-multiply-txt {
        font-size: 10px !important;
    }
    #river-buy-btn {
        width: 250px;
        height: 100px;
    }
    #river-buy-btn-txt {
        font-size: 14px;
    }
}
@media screen and (max-width: 480px) {
    h1 {
        font-size: 22px;
    }
    h2 {
        font-size: 14px;
    }
    h3 {
        font-size: 10px;
    }
    h4 {
        font-size: 8px;
    }
    .pond-multiply-txt {
        font-size: 8px !important;
        margin-left: 3px;
    }
    .pond-item .pond-item-buy-btn {
        border-radius: 10px !important;
    }
    .multiply-buy-btn {
        width: 120px;
        height: 35px;
    }
    #river-buy-btn {
        width: 200px;
        height: 80px;
    }
    #river-buy-btn-txt {
        font-size: 12px;
    }
    #tab-grid {
        height: 80px;
    }
}