#multiply-btn-grid{
    display: grid;
    width: max-content;
    grid-gap: 5px;
    grid-template-columns: 50% 50%;
    margin-bottom: 5px;
}
.multiply-buy-btn {
    width: 150px;
    height: 40px;
    background-color: #1d1d1d;
    border-style: solid;
    border-radius: 8px;
}
#river-amount-txt {
    margin: 0;
}
#river-require-txt {
    margin-top: 0;
    margin-bottom: 5px;
}
#river-buy-btn {
    width: 350px;
    height: 120px;
    background-color: #1d1d1d;
    border-style: solid;
    border-radius: 10px;
}
#tab-grid {
    position: absolute;
    display: grid;
    grid-template-columns: 50% 50%;
    bottom: 0px;
    width: 100%;
    height: 100px;
    background-color: black;
}
.tab-btn {
    border: none;
    background-color: #000000;
    transition: 0.25s;
}
.tab-btn:hover {
    background-color: #f2f2f210;
}
.tab-btn h1 {
    margin: 0;
}