.pond-item {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    width: 100%;
    align-items: center;
}
.pond-item:nth-child(odd) {
    background-color: #47474733;
}
.pond-item .pond-item-buy-btn {
    align-self: center;
    background-color: #1d1d1d;
    border-style: solid;
    border-radius: 15px;
    margin-right: 20px;
    height: 90%;
    grid-column: 3;
}
.pond-item .pond-item-buy-btn h3 {
    margin: 0;
}
.pond-item-info {
    display: grid;
    justify-content: left;
    grid-template-rows: 50% 50%;
    grid-row: 1;
}
.pond-item-info h3, .pond-item-info h4 {
    justify-self: left;
    margin: 0;
    padding: 5px;
}