html {
    height: 100%;
}
body {
    min-height: 100%;
    padding: 0;
    margin: 0;
    background-color: #1d1d1d;
    overflow-y: scroll;
}
button {
    cursor: pointer;
    transition: 0.25s;
}
h1, h2, h3, h4, h5, h6, p {
    font-family: 'Arial';
    font-weight: 200;
    color: white;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
center {
    padding-bottom: 150px;
    margin: 0;
    overflow-y: scroll;
}
.btn-can-afford {
    border-color: #127a20;
}
.btn-can-afford:hover {
    background-color: #5ac46733 !important;
}
.btn-cant-afford {
    border-color: #c41f3d;
}
.btn-cant-afford:hover {
    background-color: #b84b5f33 !important;
}
.line {
    width: 100%;
    height: 2px;
    justify-self: center;
    background-color: #4f5054;
}